<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YWTigerkin.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
				<key>dateExpires</key>
				<string>4/21/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JXPagingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JXSegmentedView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMKV.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMKVCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NSObject_Rx.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reusable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SAMKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SHFullscreenPopGestureSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>URLNavigator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7715C369F08D9D70AF77B5AF42ED919321459CF5</string>
						<key>dateExpires</key>
						<string>4/21/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LU6255RGX8</string>
						<key>name</key>
						<string>冬冬 欧</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LU6255RGX8.com.od.ywtigerkin</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LU6255RGX8</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>LU6255RGX8.com.od.ywtigerkin</string>
				</array>
			</dict>
			<key>name</key>
			<string>YWTigerkin.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0bba6a6e-046d-446c-8a94-f72162afe3da</string>
				<key>dateExpires</key>
				<string>4/29/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.od.ywtigerkin</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LU6255RGX8</string>
				<key>name</key>
				<string>冬冬 欧</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
